<!-- This is without using @Input() -->
<h5>Here is some plain looping</h5>
<p 
  *ngFor="let task of tasks"
>{{ task.text }}</p>

<!-- While using @Input() because/inside of task-item component -->
<!-- passing task(while as making a reference to what a task is inside task-item.component.ts)
     as a property thru the app-task-item component -->
<h5>Here we are passing it thru the App-Task-Item Component</h5>
<app-task-item
  *ngFor="let task of tasks"
  [task]="task"
  (onDeleteTask)= "deleteTask(task)"     
></app-task-item>



